@font-face {
    font-family: 'BlueArchive';
    src: url('../public/font/TTF/경기천년제목_Light.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'BlueArchive_Bold';
    src: url('../public/font/TTF/경기천년제목_Medium.ttf');
    font-weight: bolder;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: color 0.2s;
    transition: background-color 0.2s;
}
html::-webkit-scrollbar {
        width: 0px; /* 스크롤바 너비 설정 */
}

:root{
    color: black;
    font-family: 'BlueArchive';
    font-weight: bold;
}
[data-theme="light"]{
    color: black;
    --base-color: black;
    --icon-color: invert(1);
    --icon-color-reverse: invert(0);
    --theme-color: rgba(40, 40, 40, 0.75);
    --nav-select-color: rgba(250, 250, 250, 0.75);
    --bg-color: rgba(225, 225, 225, 0.6);
    --grid-box-color:  rgba(250, 250, 250, 0.3);
    --grid-text-color: rgba(240, 240, 240, 1);
}
[data-theme="dark"]{
    color: white;
    --base-color: white;
    --icon-color: invert(0);
    --icon-color-reverse: invert(1);
    --theme-color: rgba(240, 240, 240, 0.5);
    --nav-select-color: rgba(50, 50, 50, 0.75);
    --bg-color: rgba(60, 60, 60, 0.6);
    --grid-box-color:  rgba(33, 33, 33, 0.5);
    --grid-text-color: rgba(50, 50, 50, 0.9);
}